<section id="select_car_section">
	<!-- 차종 -->
	<section>
		<h3>차량 유형</h3>
		<label><input type="radio" name="carType" value="0" data-car-name="다마스"  checked>다마스<br></label>
		<label><input type="radio" name="carType" value="1" data-car-name="라보" >라보<br></label>
		<label><input type="radio" name="carType" value="2" data-car-name="포터2" >포터2<br></label>
	</section>

	<!-- 지점 -->
	<section>
		<h3>지점 선택</h3>
		<div>
			<label><input type="radio" name="region" value="0" checked>사당<br></label>
		</div>
		<div>
			<label><input type="checkbox" name="isDelivery" value="">딜리버리 서비스(DS)</label>
		</div>
	</section>

	<!-- 날짜 -->
	<section>
		<h3>기간 선택</h3>
		<div>
			<input type="text" id="rent_time" disabled>
			<div id="rent_datetimepicker"></div>
	
			<input type="text" id="end_time" disabled>
			<div id="end_datetimepicker"></div>
		</div>
	</section>
	
	<!-- 보험 -->
	<!--
	<section>
		<h3>자차손해 면책 제도 (CDW)</h3>
		<ul>
			<li>
				<label><input type="radio" name="insurance" value="0" checked>보험 미적용 (0원)</label>
			</li>
			<li>
				<label><input type="radio" name="insurance" value="10000">고객부담금 면제</label>
			</li>
			<li>
				<label><input type="radio" name="insurance" value="20000">5만원</label>
			</li>
			<li>
				<label><input type="radio" name="insurance" value="30000">30만원</label>
			</li>
		</ul>
	</section>
	-->

	<!-- 약관 정보 -->
  <section>
		<h3>예약완료를 위한 이용자 동의 사항</h3>
		<div>
			<label>
				<input type="checkbox" name="">
				예약완료를 위한 이용 동의(필수), 차량 대여를 위한 개인정보 수집/이용 동의(필수), 개인정보 취급 위탁 동의(필수)에 모두 동의합니다. 
			</label>
		</div>
	</section>

	<section>
		<button id="show_pay_section" type="button">선택완료</button>
	</section>
</section>