<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" type="text/css" href="/css/trent_common.css">
  
  <link rel="stylesheet" type="text/css" href="/css/rent.css">

  <style>
    body {
      /*background: url("https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/DC39A69B-1AC1-4A1E-BA8F-50E596DB03DB.png"); */
      background: url("https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/F6086E83-63B0-4FD5-B148-542CE6B85876.png");
      background-size: 1920px;
    }
  </style>

  <link rel="stylesheet" href="/lib/jquery-ui-1.12.1/jquery-ui.css">

  <link rel="stylesheet" type="text/css" href="/lib/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css">
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script src="/lib/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js"></script>
</head>

  <body>
  <% include ../common/partials/nav %>

  <section class="container-full">
      <% include ../common/partials/process %>
      
      <form action="../api/user/join" method="POST" id="signupform" class="rent-form-container" role="form">
        <div class="form-ctl-section">
          <% include ../common/partials/rent-first-process %>
          <% include ../common/partials/rent-second-process %>
        </div>
      </form>
    
      <% include ../common/partials/rent-result %>
      </div>
    </section>

    <script src="/js/rent.js"></script>
    <script src="/js/calendar.js"></script>

  </body>
</html>