 <!-- 예약 정보 -->
 <section>
  <div>
    <h3 id="result_car_name">아반떼 AD (G)</h3>
    <div>
      <img id="result_car_img" src="https://www.lotterentacar.net/atch/getImage.do?atchFileId=FILE0000000000001874&fileSn=0" alt="">
    </div>
    <p>실제 대여하는 차량과 외관, 색상, 옵션 등에서 차이가 있을 수 있습니다.</p>
    
    <div>
      <table>
        <caption>차량 정보</caption>
        <colgroup>
          <col style="width:100px">
          <col style="width:auto">
        </colgroup>
        <tbody>
          <tr>
            <th scope="row">대여</th>
            <td>
              <span id="result_rent_region">사당</span> 
              <span id="result_rent_date">2019/03/22 01시 20분</span>
            </td>
          </tr>
          <tr>
            <th scope="row">반납</th>
            <td>
              <span id="result_return_region">사당</span> 
              <span id="result_return_rent_date">2019/03/26 01시 10분</span>
            </td>
          </tr>
          <tr>
            <th scope="row">보험</th>
            <td>
              <span id="result_insurance_type">보험 미적용</span>
            </td>
          </tr>
          <tr>
            <th scope="row">기타옵션</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div>
    <ul>
      <li>
        <span>대여금액</span>
        <span>
          <strong>396,000</strong>
          <em>원</em>
        </span>
        <ul>
          <li></li>
        </ul>
      </li>
      <li>
        <span>보험금액</span>
        <span>
          <strong>0</strong>
          <em>원</em>
        </span>
        <ul>
          <li>
            <span>보험 미적용</span>
            <span>0원</span>
          </li>
        </ul>
      </li>

      <li>
        <span>금액</span>
        <span>
          <strong>396,000</strong>
          <em>원</em>
        </span>
      </li>
    </ul>
  </div>
</section>
