<style>
  .final-result {
    padding: 30px;
    margin-top: 0;
        list-style: none;
  }

  .final-result>li {
    margin: 0;
    width: 100%;
    margin-top: 5px;
  }

  .result-text-title,
  .result-text-unit {
    font-size: 20px;
    
    line-height: 2.5;

    color: #ffffff;
  }

  .result-text-title {
    display: inline-block;
    text-align: left;
    width: 138px;
  }

  .result-text-unit {
    text-align: right;
    display: inline-block;
    float: right;
  }

  .result-price {
    display: inline-block;
    width: 125px;
    font-size: 25px;
    
    line-height: 2.1;
    text-align: right;
    color: #ffffff;
  }

  .result-text-total-unit,
  .result-total-price {
    color: #ff4949;
  }

  .result-total-price {
    font-size: 45px;
    
    line-height: 1.11;
    text-align: left;
    color: #ff4949;
  }

  .result-text-total-unit {
    font-size: 30px;
    
    line-height: 1.11;
    text-align: left;
    color: #ff4949;
  }

  .total-result {
    display: block;
    width: 100%;
    text-align: right;
  }
</style>

<style>
  .summary-section {
    text-align :  left; 
    margin-left: 29px;
    margin-bottom: 30px;
  }

  .summary-section > div {
    height: 36px;
  }

  .result-label {
      font-size: 18px;
      line-height: 2.65;
      text-align: left;
      color: #666666;
      margin-right: 9px;
    }

  .result-content {
    font-size: 18px;
    line-height: 2.65;
    text-align: left;
    color: #666666;
  }

  .result-price-section {
    background: #25333e;
    height: 442px;
    color: white;
  }

    
</style>
<div class="result-section">
  <h3>선택 및 결제 정보</h3>
  <div style="text-align: center; border: 1px solid #d2d2d2">
    <img id="result_car_img" src="/img/test.png" style="width: 300px; height: 226px; margin-top: 72px; margin-bottom: 34px;">
    <div class="summary-section">
      <div>
        <span class="result-label">차종</span>
        <span id="result_car_name" class="result-content">다마스</span>
      </div>

      <div>
        <span class="result-label">대여</span>
        <span id="result_rent_region" class="result-content">사당</span> 
        <span id="result_rent_date" class="result-content">2019/03/22 01시 20분</span>
      </div>

      <div>
        <span class="result-label">반납</span>
        <span id="result_return_region" class="result-content">사당</span> 
        <span id="result_return_rent_date" class="result-content">2019/03/26 01시 10분</span>
      </div>

      <div>
        <span class="result-label">보험</span>
        <span id="result_insurance_type" class="result-content">보험 미적용</span>
      </div>
    </div>
  </div>
  <div class="result-price-section">
    <ul class="final-result">
      <li>
        <span class="result-text-title">대여금액</span>
        <span>
          <strong id="result_rent_cost" class="result-price">0</strong>
          <em class="result-text-unit">원</em>
        </span>
      </li>
      <li>
        <span class="result-text-title">할인금액</span>
        <span>
          <strong id="discount_price" class="result-price">0</strong>
          <em class="result-text-unit">원</em>
        </span>
      </li>
      <li>
        <span class="result-text-title">포인트 차감</span>
        <span>
          <strong id="used_point" class="result-price">0</strong>
          <em class="result-text-unit">원</em>
        </span>
      </li>

      <li>
        <span class="result-text-title">보험 및 기타옵션</span>
        <span>
          <strong id="result_insurance_cost" class="result-price">0</strong>
          <em class="result-text-unit">원</em>
        </span>
        <br>
        <hr>
        <br>
      </li>
    
      <li>
        <span class="result-text-title">총 결제 금액</span>
        <span class="total-result">
          <strong id="result_total_cost" class="result-total-price">0</strong>
          <em class="result-text-total-unit">원</em>
        </span>
      </li>
    </ul>
  </div>
</div>