<!DOCTYPE html>
<html>
 <head>
  <% include ../common/partials/head %>
 </head>
 <body>
  <% include ../common/partials/nav %>

  <div class="container post post-index">
   <% include ./partials/header ﻿%>

   <form method="post" action="../api/xlsx" enctype="multipart/form-data">
    <table>
        <tr>
            <td><input class="file" type="file" name="file" /></td>
            <td><input class="upload" type="submit" value="upload" name="summit" /></td>
        </tr>
    </table>
    
   </form>
   <!-- <div class="buttons">
    <a class="btn btn-default" href="/post/new">New</a>
   </div> -->

   <table class="table table-striped posts">
    <thead>
     <tr>
      <th class="title">Title</th>
      <th class="date">Date</th>
     </tr>
    </thead>
    <tbody>
     <% if(posts == null || posts.length == 0){ %>
      <tr>
       <td class="noData" colspan=100> There is no data to show :( </td>
      </tr>
     <% } %>
     <% posts.forEach(function(posts) { %>
      <tr>
       <td class="title">
        <a href="/post/<%= posts.id %>"><div><%= posts.title %></div></a>
       </td>
       <td class="date">
        <%= posts.createdAt %>
       </td>
      </tr>
     <% }) %>
    </tbody>
   </table>
  </div> <!-- container end -->
 </body>
</html>