.section-title {
  margin-left: 819px;
  margin-top: 101px;
  width: 279px;
  height: 47px;
  text-align: center;
  font-size: 50px;
  
  line-height: 1;
  color: #00a8ff;
  font-weight: bold;
  letter-spacing: -1px;
}

.values {
  padding-top: 48px;
  font-size: 25px;
  line-height: 1;
  color: #00a8ff;
  font-weight: bold;
  letter-spacing: -1px;
}

.login {
  margin-left: 644px;
  margin-top: 70px;
  width: 129px;
  height: 47px;
  
  line-height: 1;
  text-align: center;
}

#id, #phone {
  margin-top: 30px;
  width: 609px;
  height: 24px;
  padding-left: 21px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 28px;
  text-align: left;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
}

#number {
  margin-top: 30px;
  width: 300px;
  height: 24px;
  padding-left: 21px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 28px;
  text-align: left;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
}

.id {
  width : 200px;
}

.phone {
  width : 230px;
}
#id {
  margin-top: 0px;
}

.sub-menu {
  margin-left: 735px;
  margin-top: 132px;
}

.find-id-btn, .find-password-btn, .join-btn {
  font-size: 24px;
  letter-spacing: -0.9px;
  color: #666666;
}

.split {
  margin-left: 20px;
  margin-right: 12px;
  margin-top: 0px;
  width: 1px;
  height: 16px;
  color: #bfbfbf;
}

.find-id-btn-section {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 70px;
}

.find-pw-btn-section {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 70px;
}

.find-pw-btn {
  margin-top: 200px;
  margin-bottom: 11px;
  width: 330px;
  height: 90px;
  background-color: #00a8ff;
  font-size: 36px;
  font-weight: bold;
  color: white;
  border: 0;
}

.find-id-btn {
  margin-top: 170px;
  margin-bottom: 11px;
  width: 330px;
  height: 90px;
  background-color: #00a8ff;
  font-size: 36px;
  font-weight: bold;
  color: white;
  border: 0;
}

.auth-number {
  display: inline-flex;
}

.find-auth-btn {
  margin-top: 30px;
  margin-left: 13px;
  width: 173px;
  height: 60px;
  background-color: #00a8ff;
  font-size: 23px;
  font-weight: bold;
  color: white;
  border: 0;
}