.container-full {
  padding-top: 100px;
  padding-left: 260px;
  padding-right: 260px;

  /*background : url(./img/test2.png);
background-size: 1920px;*/
}

.section-title {
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  color: #00a8ff;
}

.join-form-container {
  padding: 57px 200px;
}

.panel-heading {
  font-size: 36px;
  line-height: 1.47;
  letter-spacing: -0.9px;
  text-align: left;
  color: #333333;
  font-weight: bold;
}

input {
  padding-left: 20px;
  padding-right: 20px;
  height: 58px;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
  font-size: 28px;
  color: #333333;

  font-size: 28px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #333333;

  width: 100%;
}

.label-section {
  width: 48px;
  font-size: 28px;
  line-height: 60px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #333333;
  width: 209px;
  margin-top: 21px;
  float: left;
}

.input-section {
  display: inline-block;
  margin-top: 18px;
}

.panel-item {
  clear: both;
}

.panel {
  margin-bottom: 60px;
}

.warnning {
  font-size: 18px;
  line-height: 2.35;
  letter-spacing: 0.2px;
  text-align: left;
  color: #dd0202;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
  font-size: 28px;
  color: #333333;

  height: 60px;
  border: solid 1px #bfbfbf;


  border-radius: 0;
}

.signup {
  width: 329px;
  height: 90px;
  background-color: #00a8ff;
  font-size: 34px;
  line-height: 1.47;
  letter-spacing: -0.9px;
  text-align: center;
  color: #ffffff;
}

.form-ctl-section {
  text-align: center;
}

.search-address {
  display: inline-block;
  width: 246px;
  height: 60px;
  background-color: #00a8ff;
  font-size: 28px;
  letter-spacing: -0.7px;
  line-height: 2.175;
  text-align: center;
  color: #ffffff;
}

.full-input {
  width: 749px;
}

.full-select {
  width: 791px;
}

.forth-input,
.forth-input-last {
  width: 137.5px;
}

.forth-input {
  margin-right: 20px;
}

.third-input,
.third-input-last {
  width: 205px;
}

.third-input {
  margin-right: 20px;
}

.date-section,
.date-section-last {
  display: inline;
  margin-right: 25px;
}

.date-section-last {
  margin-right: 0px;
}

.date-section>input,
.date-section-last>input {
  margin-right: -33px;

  padding-right: 60px;
  padding-left: 20px;
  text-align: end;
}

.date-section>.third-input,
.date-section-last>.third-input-last {
  width: 164px;
}

.date-section>input.third-input-last {
  margin-right: 0px;
}

.float-label {
  position: relative;
  right: 20px;
  font-size: 28px;
  line-height: 1.79;
  letter-spacing: -0.7px;
  text-align: left;
  color: #333333;
}

.error {
  display: block;
}


.container-full {
  padding-top: 100px;
  padding-left: 260px;
  padding-right: 260px;
  width: 1400px;

  /*background : url(./img/test2.png);
background-size: 1920px;*/
}

.section-title {
  font-size: 50px;
  line-height: 1.1;
  text-align: center;
  color: #00a8ff;
}

.panel-heading {
  font-size: 30px;
  line-height: 1.47;
  text-align: left;
  color: #333333;
  font-weight: bold;
}

input {
  padding-left: 20px;
  padding-right: 20px;
  height: 58px;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
  font-size: 28px;
  color: #333333;

  font-size: 28px;
  text-align: left;
  color: #333333;

  width: 100%;
}

.label-section {
  width: 48px;
  font-size: 28px;
  line-height: 60px;
  text-align: left;
  color: #333333;
  width: 209px;
  margin-top: 21px;
  float: left;
}

.input-section {
  display: inline-block;
  margin-top: 18px;
}

.panel-item {
  clear: both;
}

.panel {
  margin-bottom: 60px;
}

.warnning {
  font-size: 18px;
  line-height: 2.35;
  text-align: left;
  color: #dd0202;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
  font-size: 28px;
  color: #333333;

  height: 60px;
  border: solid 1px #bfbfbf;


  border-radius: 0;
}

.next {
  width: 329px;
  height: 80px;
  background-color: #00a8ff;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.47;
  text-align: center;
  color: #ffffff;
}

.form-ctl-section {
  text-align: center;
}

.search-address {
  display: inline-block;
  width: 246px;
  height: 60px;
  background-color: #00a8ff;
  font-size: 28px;
  line-height: 2.175;
  text-align: center;
  color: #ffffff;
}

.full-input {
  width: 749px;
}

.full-select {
  width: 791px;
}

.forth-input,
.forth-input-last {
  width: 137.5px;
}

.forth-input {
  margin-right: 20px;
}

.third-input,
.third-input-last {
  width: 205px;
}

.third-input {
  margin-right: 20px;
}

.date-section,
.date-section-last {
  display: inline;
  margin-right: 26px;
}

.date-section-last {
  margin-right: 0px;
}

.date-section>input,
.date-section-last>input {
  margin-right: -33px;

  padding-right: 60px;
  padding-left: 20px;
  text-align: end;
}

.date-section>.third-input,
.date-section-last>.third-input-last {
  width: 164px;
}

.date-section>input.third-input-last {
  margin-right: 0px;
}

.float-label {
  position: relative;
  right: 20px;
  font-size: 28px;
  line-height: 1.79;
  text-align: left;
  color: #333333;
}

.result-section {
  float: left;
  width: 350px;
  margin-top: 57px;
}

h3 {
  font-size: 24px;
  /* line-height: 2.08; */
  text-align: left;
  color: #ffffff;
  background: #6b879e;
  padding: 22px 24px;
}

.result-label {
  font-size: 18px;
  line-height: 2.78;
  text-align: left;
  color: #666666;
  margin-right: 15px;
}

.process {
  width: 466px;
  height: 88px;
  display: inline-block;
  background-color: #d2d2d2;
  font-size: 30px;
  line-height: 3;
  text-align: center;
  color: #ffffff;
}

.process.active {
  background-color: #00a8ff !important;
}

.payment-type {
  display: inline-block;
  width: 498px;
  height: 110px;
  text-align: center;
  border: 1px solid #bfbfbf;

  font-size: 30px;
  line-height: 3.8;
  text-align: center;
  
  color: #666666;
  margin-bottom: 20px;
}
.payment-type.active {
  background-color: #00a8ff !important;
  color: #ffffff;
}

.payment-select-section {
  background-color: #f9f9f9;
  padding: 40px;
}

.payment-select-section .label-section{
  width: 184px;
  font-size: 28px;
  line-height: 1.79;
  text-align: left;
  color: #333333;
}

.payment-select-section .full-select {
  width: 736px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 17px;
  padding-right: 17px;
  border: solid 1px #bfbfbf;
  background-color: #ffffff;
  font-size: 28px;
  color: #333333;
  height: 60px;
  border: solid 1px #bfbfbf;
  border-radius: 0;
}

.description {
  font-size: 18px;
  line-height: 2.78;
  text-align: left;
  color: #333333;
}

.spend-all {
  font-size: 28px;
  line-height: 1.79;
  text-align: left;
  color: #333333;
}

.truck-type {
  display: inline-block;
  width: 320px;
  border-radius: 8px;
  border: solid 3px #00a8ff;
  margin-right: 9px;
  
  color: #666666;
  margin-bottom: 20px;
}
.last {
  margin-right: 0px;
}
.truck-type.active {
  background-color: #00a8ff !important;
  color: #ffffff;
}

.truck-type img {
  width: 100%;
  height: 210px;
}

.truck-type > .title-section {
  height: 30px;
  font-size: 30px;
  /* line-height: 0.67; */
  letter-spacing: -0.8px;
  text-align: left;
  color: #ffffff;
  background-color: #00a8ff;
  padding: 13px 14px;
}

.selection-truck {
  margin-right: 3.6px;
}