.title {
  font-size: 100px;
  
  line-height: 0.5;
  letter-spacing: -2.5px;
  text-align: center;
  color: #ffffff;
}

.rent {
  width: 1920px;
  height: 980px;
}

.icon {
  padding-top: 273px;
  margin-left: 486px;
}

img {
  width: 105px;
  height: 65px;
}

.sub-title {
  width: 950px;
  height: 94px;
  margin-left: 482px;
  margin-top: 49px;
  padding-left : 55px;
  line-height: 50px;
}

.sub-title-span {
  font-size: 100px;
  text-align: center;
  letter-spacing: -2.5px;
  color: white;
}


.call {
  width: 657px;
  height: 47px;
  margin-left: 679px;
  margin-top: 25px;
  line-height: 50px;
  height: 47px;
}
.call-span {
  font-size: 50px;
  text-align: center;
  color: white;
}

.service_btn {	
  margin-left: 573px;
  margin-top: 74px;
  margin-bottom: 254px;
}

.inquire, .rental {
  width: 124px;
  height: 32px;
  display: inline-block;
  padding-top: 28px;
  padding-left: 122px;
  padding-right: 120px;
  padding-bottom: 28px;
  
  font-size: 34px;
  
  line-height: 0.9;
  text-align: center;
}

.inquire {
  margin-right : 32px;
  color: #ffffff;
  border: solid 3px #ffffff;
}

.rental {
  color: #ffffff;
  border: solid 3px #00a8ff;
  background-color: #00a8ff;
}