<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="/css/trent_common.css">
  <link rel="stylesheet" type="text/css" href="/css/findIdpw.css">
</head>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>

<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<script>
      $(function(){
        $('#loginForm').validate({
          rules: {
            phone: {
              required : true
            },
            number: {
              required : true
            }
          },
          messages: {
            phone: {
              required : "핸드폰번호를 입력해 주세요"
            },
            number: {
              required : "인증번호를 입력해 주세요"
            }
          }
        });
      });
      var timer = new Timer();
      $('.auth-number #authnum').click(function () {
        timer.start({countdown: true, startValues: {seconds: 180}});
        $('#countdownExample .values').html(timer.getTimeValues().toString());
        timer.addEventListener('secondsUpdated', function (e) {
          $('#countdownExample .values').html(timer.getTimeValues().toString());
        });
        timer.addEventListener('targetAchieved', function (e) {
          $('#countdownExample .values').html('만료');
        });
      });
      
</script>
    <body>
    <% include ../common/partials/nav %>
    
    <section class="find-id">
      <div class="section-title">
        <span>아이디 찾기</span>
      </div>
  
      <form action="/api/user/smsVerification" method="POST" class="loginForm" id="loginForm">
          <div class="login">
            <div class="phone">
              <input type="text" id="phone" name="phone" placeholder="핸드폰 번호" value="">
            </div>
            <div class="auth-number">
              <input type="text" id="number" name="number" placeholder="인증 번호" value="">
              <div id="countdownExample" style="width: 123px;color: black;">
                <div class="values"></div>
              </div>
              <button class="find-auth-btn" id="authnum" type="submit">인증번호받기</button>
            </div>
          </div>

          <div class="find-id-btn-section">
            <button class="find-id-btn" type="submit">찾기</button>
          </div>
      </form>
    </section>

    <% include ../common/partials/footer %>
  </body>
</html>