<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="/css/trent_common.css">
  <link rel="stylesheet" type="text/css" href="/css/findIdpw.css">
</head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>

<script>
    $(function(){
        $('#loginForm').validate({
          rules: {
            id: {
              required : true,
              minlength : 3
            },
            phone: {
              required : true,
              minlength : 10
            },
            number: {
              required : true
            }
          },
          messages: {
            id: {
              required : "아이디를 입력해 주세요",
              minlength: "최소 3글자 이상 입력해주세요"
            },
            phone: {
              required : "핸드폰번호를 입력해 주세요",
              minlength : "핸드폰 번호는 최소 10자리여야 합니다."
            },
            number: {
              required : "인증번호를 입력해 주세요"
            }
          }
        });
      });
</script>
<body>
  <% include ../common/partials/nav %>
  
  <section class="find-password">
    <div class="section-title">
      <span>비밀번호 찾기</span>
    </div>

    <form action="/api/user/loginauth" method="POST" class="loginForm" id="loginForm">
        <div class="login">
          <div class="id">
            <input type="text" id="id" name="id" placeholder="아이디" value="">
          </div>
          <div class="phone">
						<input type="text" id="phone" name="phone" placeholder="핸드폰 번호" value="">
          </div>
          <div class="auth-number">
            <input type="text" id="number" name="number" placeholder="인증 번호" value="">
            <button class="find-auth-btn" type="submit">인증번호받기</button>
          </div>
        </div>

        <div class="find-pw-btn-section">
          <button class="find-pw-btn" type="submit">찾기</button>
        </div>
      </form>
  </section>

  <% include ../common/partials/footer %>

  
</body>
</html>