<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="/css/trent_common.css">
  <link rel="stylesheet" type="text/css" href="/css/join.css">
  <style>
    body {
      /*background : url('https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/AED12C6D-62C8-497B-8A66-CAAD289C4411.png');*/
      background-size: 1920px;
    }
  </style>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>

	<script>
			$(document).ready(function () {
					$("#signupform").validate({
							rules: {
									id: {
										required: true,
										minlength: 3,
										// isExistId: $('#id').val()
										remote: {
											url: "/api/user/is_not_exist_id",
											type: "get"
										}
									},
									name: {
											required: true,
											minlength: 2
									},
									password: {
											required: true,
											minlength: 8
									},
									email: {
											required: true,
											email: true,
											remote: {
												url: "/api/user/is_not_exist_email",
												type: "get"
											}
									},
									phone: {
											required: true,
											minlength: 11,
									},
									postcode: {
											required: true,
											minlength: 5
									},
									address: {
											required: true
									},
									details: {
											required: true
									},
									classification: {
											required: true
									},
									numberArea: {
											required: true
									},
									number_1: {
											required : true,
											maxlength : 2
									},
									number_2: {
											required : true,
											maxlength : 2
									},
									number_3: {
											required : true,
											maxlength : 6
									},
									number_4: {
											required : true,
											maxlength : 2
									},
									license_number: {
											required: true
									},

									issueyear: {
											required: true,
									},
									issuemonth: {
											required: true
									},
									issueday: {
											required: true
									},
									dueyear: {
											required: true
									},
									duemonth: {
											required: true
									},
									dueday: {
											required: true
									}
							},
							messages: {
									id: {
											required: "아이디를 입력해주세요",
											minlength: "최소 4글자 이상 입력해주세요",
												remote: "존재하는 아이디입니다"
									},
									name: {
											required: "이름을 입력해주세요",
											minlength: "최소 2글자 이상 입력해주세요"
									},
									password: {
											required: "비밀번호를 입력해주세요",
											minlength: "최소 8자 이상 입력해주세요"
									},
									email: {
											required: "이메일을 입력해주세요",
											remote: "존재하는 이메일입니다"
									},
									phone: {
											required: "핸드폰 번호를 입력해주세요",
											minlength: "핸드폰 번호는 11자리여야 합니다."
									},
									postcode: {
											required: "우편번호를 입력해주세요",
											minlength: "우편번호는 5자리여야 합니다."
									},
									address: {
											required: "주소를 입력해주세요"
									},
									details: {
											required: "세부적인 주소를 입력해주세요"
									},
									license_number: {
											required: "면허번호를 입력해주세요"
									},
									number_1: {
											required: "면허의 첫 번째 자리는 2자리수입니다."
									},
									number_2: {
											required: "면허의 두 번째 자리는 2자리수입니다."
									},
									number_3: {
											required: "면허의 세 번째 자리는 6자리수입니다."
									},
									number_4: {
											required: "면허의 네 번째 자리는 2자리수입니다."
									},
									issueyear: {
											required: "면허의 발급년도를 입력해주세요"
									},
									issuemonth: {
											required: "면허의 발급월을 입력해주세요"
									},
									issueday: {
											required: "면허의 발급일을 입력해주세요"
									},
									dueyear: {
											required: "면허의 만료년도를 입력해주세요"
									},
									duemonth: {
											required: "면허의  만료월을 입력해주세요"
									},
									dueday: {
											required: "면허의 만료일을 입력해주세요"
									}
							}
					})
			})
	
			$(function() { $("#postcodify_search_button").postcodifyPopUp({
					function(selectedEntry) {
							window.opener.document.getElementById("postcode").value = $("#postcode").val();
							window.opener.document.getElementById("address1").value = $("#address").val();
							window.open("", "_self", "");
							window.close();
					}
				});
			});
	</script>
	
</head>
<body>
	<% include ../common/partials/nav %>

	<section class="container-full">
			<h2 class="section-title">회원가입</h2>
					<form action="../api/user/join" method="POST" id="signupform" class="join-form-container" role="form">
						<div class="panel">
							<div class="panel-heading">개인정보</div>
				
							<div class="panel-body">
								<div class="panel-item">
									<div class="label-section">
										<label for="id">ID</label>
									</div>
									<div class="input-section">
										<input type="text" class="full-input" id="id" name="id" placeholder="ID" value="">
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="password">패스워드</label>
									</div>
									<div class="input-section">
										<input type="password" class="full-input" id="password" name="password" placeholder="Password" value="">
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="name">이름</label>
									</div>
									<div class="input-section">
										<input type="text" class="full-input" id="name" name="name" placeholder="Name" value="">
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="email">이메일</label>
									</div>
									<div class="input-section">
										<input type="text" class="full-input" id="email" name="email" placeholder="Email Address" value="">
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="phone">휴대전화</label>
									</div>
									<div class="input-section">
										<input type="text" class="full-input" id="phone" name="phone" placeholder="phone number" value="">
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="ex2_input0">주소</label>
									</div>
									<div class="input-section">
										<input type="text" name="postcode" id="postcode" class="third-input  postcodify_postcode5" value="">
										<button id="postcodify_search_button" class="search-address" type="button">우편번호 검색</button>
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
									</div>
									<div class="input-section">
										<input type="text" name="address" id="address" class="full-input postcodify_address" value="">
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
				
									</div>
									<div class="input-section">
										<input type="text" name="details" id="details" class="full-input postcodify_details" value="">
									</div>
								</div>
							</div>
						</div>
				
						<div class="panel">
							<div class="panel-heading">운전면허 정보</div>
				
							<div class="panel-body">
								<div class="panel-item">
									<div class="label-section">
										<label for="ex2_input2">면허구분</label>
									</div>
									<div class="input-section">
										<select name="classification" id="classification" class="full-select">
											<option value='국내'>국내</option>
											<option value='국외'>국외</option>
										</select>
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="license">면허종류</label>
									</div>
									<div class="input-section">
										<select name="numberArea" id="numberArea" class="full-select">
											<option value='1종보통'>1종보통</option>
											<option value='2종보통'>2종보통</option>
											<option value='2종자동'>2종자동</option>
										</select>
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="license">면허증번호</label>
									</div>
									<div class="input-section" id="license_number">
										<input type="text" name="number_1" id="number_1" class="forth-input" placeholder="지역" value="">
										<input type="text" name="number_2" id="number_2" class="forth-input" value="">
										<input type="text" name="number_3" id="number_3" class="forth-input" value="">
										<input type="text" name="number_4" id="number_4" class="forth-input-last" value="">
										<div>
											<span class="warnning"> 2014년 07월 02일 이후 발급 면허는 숫자 코드로 지역 입력합니다.</span>
										</div>
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="license">발급일</label>
									</div>
									<div class="input-section">
										<div class="date-section">
											<input type="text" class="third-input" name="issueyear" id="issueyear" value="">
											<label class="float-label">년</label>
										</div>
										<div class="date-section">
											<input type="text" class="third-input" name="issuemonth" id="issuemonth" value="">
											<label class="float-label">월</label>
										</div>
										<div class="date-section-last">
											<input type="text" class="third-input-last" name="issueday" id="issueday" value="">
											<label class="float-label">일</label>
										</div>
										<div>
											<span class="warnning"></span>
										</div>
									</div>
								</div>
				
								<div class="panel-item">
									<div class="label-section">
										<label for="license">만료일</label>
									</div>
									<div class="input-section">
										<div class="date-section">
											<input type="text" class="third-input" name="dueyear" id="dueyear" value="">
											<label class="float-label">년</label>
										</div>
										<div class="date-section">
											<input type="text" class="third-input" name="duemonth" id="duemonth" value="">
											<label class="float-label">월</label>
										</div>
										<div class="date-section-last">
											<input type="text" class="third-input-last" name="dueday" id="dueday" value="">
											<label class="float-label">일</label>
										</div>
										<div>
											<span class="warnning">개인정보가 지점 대여 시 상이할 경우, 예약이 취소되거나 추가 확인이 필요할 수 있습니다.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
				
						<div class="form-ctl-section">
							<button id="btn-signup" class="signup" type="submit">회원가입</button>
						</div>
					</form>
	</section>

	<% include ../common/partials/footer %>
</body>
</html>
