<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" type="text/css" href="/css/trent_common.css">

	<style>
		.section-title {
			margin-left: 876px;
			margin-top: 101px;
			width: 169px;
			height: 47px;
			text-align: center;
			font-size: 50px;
			
			line-height: 1;
			color: #00a8ff;
			font-weight: bold;
			letter-spacing: -1px;
		}

		.login {
			margin-left: 644px;
			margin-top: 70px;
			width: 129px;
			height: 47px;
			font-size: 50px;
			
			line-height: 1;
			text-align: center;
			color: #00a8ff;
		}

		#id, #password {
			margin-top: 30px;
			width: 609px;
			height: 24px;
			padding-left: 21px;
			padding-top: 17px;
			padding-bottom: 17px;
			font-size: 28px;
			text-align: left;
			border: solid 1px #bfbfbf;
			background-color: #ffffff;
		}

		#id {
			margin-top: 0px;
		}

		.sub-menu {
			margin-left: 735px;
			margin-top: 132px;
		}

		.find-id-btn, .find-password-btn, .join-btn {
			font-size: 24px;
			letter-spacing: -0.9px;
			color: #666666;
		}

		.split {
			margin-left: 20px;
			margin-right: 12px;
			margin-top: 0px;
			width: 1px;
			height: 16px;
			color: #bfbfbf;
		}

		.login-btn {
			margin-left: 797px;
			margin-top: 47px;
			margin-bottom: 70px;
			width: 329px;
			height: 90px;
			background-color: #00a8ff;
			text-align: center;
		}

		.login-btn > .content {
			font-size: 34px;
			line-height: 2.7;
			color: #ffffff;
			font-weight: bold;
		}
	</style>
</head>

<body style="background : url('https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/B76B1CC0-CD94-4A7B-9ADD-1D312362034C.png');
background-size: 1920px; height: 1396px;">
	<% include ../common/partials/nav %>

	<section class="login-container">
		<div class = "section-title">로그인</div>
		<form action="/" method="POST" class="loginForm" id="loginForm">
				<div class="login">
						<div class="id">
								<input type="text" id="id" name="id" placeholder="아이디" value="">
						</div>
						<div class="password">
								<input type="password" id="password" name="password" placeholder="비밀번호" value="">
						</div>
				</div>
		</form>
		<div class = "sub-menu">
				<a href = "/d/findId"><span class="find-id-btn">아이디 찾기</span><span class="split">|</span></a>
				<a href = "/d/findPassword"><span class="find-password-btn">비밀번호 찾기</span><span class="split">|</span></a>
				<a href = "/d/join"><span class="join-btn">회원가입 하기</span></a>
		</div>
		<div class="login-btn">
				<span class="content">로그인</span>
		</div>
	</section>

	<% include ../common/partials/footer %>

 </body>
</html>