<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" type="text/css" href="/css/trent_common.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">

	<style>
		body {
			background : url('https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/B76B1CC0-CD94-4A7B-9ADD-1D312362034C.png');
			background-size: 1920px;
		}
	</style>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>

	<script>
		$(function(){
			$('#loginForm').validate({
				rules: {
						id: {
								required: true
						},
						password: {
								required: true
						}
				},
				messages: {
						id: {
							required: "아이디를 입력해주세요"
						},
						password: {
							required: "비밀번호를 입력해주세요"
						}
				}
			});
		});
	</script>
</head>

<body>
	<% include ../common/partials/nav %>

	<section class="login-container">
		<div class="section-title">
			<span>로그인</span>
		</div>

		<form action="/api/user/loginauth" method="POST" class="loginForm" id="loginForm">
				<div class="login">
					<div class="id">
						<input type="text" id="id" name="id" placeholder="아이디" value="">
					</div>
					<div class="password">
						<input type="password" id="password" name="password" placeholder="비밀번호" value="">
					</div>
				</div>

				<div class = "sub-menu">
					<a href = "/findId"><span class="find-id-btn">아이디 찾기</span><span class="split">|</span></a>
					<a href = "/findPassword"><span class="find-password-btn">비밀번호 찾기</span><span class="split">|</span></a>
					<a href = "/join"><span class="join-btn">회원가입 하기</span></a>
				</div>
				<div class="login-btn-section">
					<button class="login-btn" type="submit">로그인</button>
				</div>
		</form>
	</section>

	<% include ../common/partials/footer %>

 </body>
</html>