<section class="footer">
  <div class = "footer-content">
    <span class = "footer-brand-name">Trent</span>
    <span class = "footer-copyright">Copyright © 2019 Trent All rights reserved.</span>
    <div class = "footer-bar"></div>
  </div>
</section>


<style>
  .footer {
    padding-top: 78px;
    width: 1920px;
    height: 255px;
    background-color: #0B3861;
  }

  .footer-content {
    margin-left: 259px;
  }

  .footer-brand-name {
    font-size: 40px;
    line-height: 0px;
    letter-spacing: 0.5px;
    color: #00a8ff;
    font-weight: bold;
  }

  .footer-copyright {
    margin-left: 961px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -0.45px;
    text-align: center;
    color: #ffffff;
  }

  .footer-bar {
    margin-top: 24px;
    width: 1400px;
    height: 1px;
    opacity: 0.3;
    border-top: solid 1px #ffffff;
    background-color: #ffffff;
  }
</style>
