<div>
  <img src="img/rent-stage/basic_info_able.png" id="first_progress" class="process active"/>
  <img src="img/rent-stage/rent_disable.png" id="second_progress" class="process"/>
  <img src="img/rent-stage/book_disable.png" class="process last">
</div>