<div>
  <img src="img/rent-stage/basic_info_able.png" id="basic_info"/>
  <img src="img/rent-stage/rent_disable.png" id="rent_info"/>
  <img src="img/rent-stage/book_disable.png" id="book_info"/>
</div>