<div>
    <hr class="Rectangle-11-copy"></hr>
    <p class="result-message">렌탈 예약이 완료되었습니다.</p>
    <hr class="Rectangle-11-copy-2"></hr>
    <hr class="Rectangle-14"></hr>
        <div class="table">
            <div class="table-row-group">
                <div class="table-row">
                    <div class="table-cell content"><img class="result truck" src="/img/car/damas.png"></div>
                    <div class="table-row list"><p class="list">차종</p></div>
                    <div class="table-row list"><p class="list">대여</p></div>
                    <div class="table-row list"><p class="list">반납</p></div>
                    <div class="table-row list"><p class="list">금액</p></div>
                    <div class="table-row list"><p class="list">할인쿠폰</p></div>
                    <div class="table-row list"><p class="list">포인트</p></div>
                </div>
            </div>
        </div>
    <p class="result-price">최종금액</p>
    <p class="price">270,000원</p>
</div>