<div>
  <div class="panel">
  <div class="panel-heading">차량선택</div>

  <div class="panel-body">
    <img class="selection-truck active" src="/img/selection-truck/damas-on.png">
    <img class="selection-truck" src="/img/selection-truck/labo-off.png">
    <img class="selection-truck last" src="/img/selection-truck/porter-off.png">
  </div>
  </div>

  <div class="panel">
  <div class="panel-heading">지점 선택</div>
  <div class="panel-body">
    <div>
      <span class="payment-type active">
        사당점
      </span><span class="payment-type ">
        딜리버리 서비스
    </div>
  </div>
  </div>

  <div class="panel">
  <div class="panel-heading">날짜 선택</div>
  <div class="panel-body">
  </div>
  </div>

  <div class="panel">
  <div class="panel-heading">보험약관 동의</div>
  <div class="panel-body">
  </div>
  </div>
</div>