<!DOCTYPE html>
<html>

<head>
	<% include ../common/partials/head %>
 </head>
 <script>

    $(function() { $("#postcodify_search_button").postcodifyPopUp({
        function(selectedEntry) {
             window.opener.document.getElementById("postcode").value = $("#postcode").val();
             window.opener.document.getElementById("address1").value = $("#address").val();
             window.open("", "_self", "");
             window.close();
        }
    }); });

    $().ready(function () {
        $("#signupform").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                password: {
                    required: true,
                    minlength: 8
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                    minlength: 11,
                },
                postcode: {
                    required: true,
                    minlength: 5
                },
                address: {
                    required: true
                },
                details: {
                    required: true
                },
                classification: {
                    required: true
                },
                numberArea: {
                    required: true
                },
                number_1: {
                    required: true,
                    minlength: 2
                },
                number_2: {
                    required: true,
                    minlength: 2
                },
                number_3: {
                    required: true,
                    minlength: 6
                },
                number_4: {
                    required: true,
                    minlength: 2
                },
                issueyear: {
                    required: true,
                },
                issuemonth: {
                    required: true
                },
                issueday: {
                    required: true
                },
                dueyear: {
                    required: true
                },
                duemonth: {
                    required: true
                },
                dueday: {
                    required: true
                },
                messages: {
                    name: {
                        required: "이름을 입력해주세요",
                        minlength: "최소 2글자 이상 입력해주세요"
                    },
                    password: {
                        required: "비밀번호를 입력해주세요",
                        minlength: "최소 8자 이상 입력해주세요"
                    },
                    email: {
                        required: "이메일을 입력해주세요."
                    }
                }
            }
        });
    })

 </script>
 <body>
  <% include ../common/partials/nav %>
  <div class="container">    
    <div id="signupbox" style="margin-top:2px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        
                        <form action="../api/user/join" method="POST" id="signupform" class="form-horizontal" role="form">
                            
                            <div class="form-group">
                                <label for="id" class="col-md-3 control-label">아이디</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="id" name="id" placeholder="ID" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3 control-label">패스워드</label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">이메일</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">이름</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-md-3 control-label">전화번호</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="phone number" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="ex2_input0" class="col-md-3 control-label">우편번호</label>
                                    <div class="col-md-6">
                                        <input type="text" name="postcode" id="postcode" class="form-control postcodify_postcode5" value="">
                                    </div>
                                    <div class="col-md-3">
                                        <button id="postcodify_search_button" class="btn btn-info" type="button">주소검색</button>    
                                    </div>
                            </div>
                            <div class="form-group"> 
                                <label for="ex2_input1"class="col-md-3 control-label">도로명주소</label>
                                <div class="col-md-9">
                                    <input type="text" name="address" id="address" class="form-control postcodify_address" value="">
                                </div>
                             </div>
                            <div class="form-group">
                                <label for="ex2_input2" class="col-md-3 control-label">상세주소</label>
                                <div class="col-md-9">
                                   <input type="text" name="details" id="details" class="form-control postcodify_details" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ex2_input2" class="col-md-3 control-label">면허구분</label>
                                <div class="col-md-9">
                                    <select name="classification" id="classification" class="form-control">
                                        <option value='국내'>국내</option>
                                        <option value='국외'>국외</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="license" class="col-md-3 control-label">면허종류</label>
                                <div class="col-md-9">
                                    <select name="numberArea" id="numberArea" class="form-control">
                                        <option value='1종보통'>1종보통</option>
                                        <option value='2종보통'>2종보통</option>
                                        <option value='2종자동'>2종자동</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="license" class="col-md-3 control-label">면허증번호</label>
                                <div class="col-md-2">
                                   <input type="text" name="number_1" id="number_1" class="form-control" placeholder="지역" value="">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="number_2" id="number_2" class="form-control" value="">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" name="number_3" id="number_3" class="form-control" value="">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="number_4" id="number_4" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="license" class="col-md-3 control-label">발급일</label>
                                <div class="col-md-2" style="padding-right: 0px;">
                                   <input type="text" name="issueyear" id="issueyear" class="form-control" value="">
                                </div>
                                <label class="col-md-1 control-label">년</label>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <input type="text" name="issuemonth" id="issuemonth" class="form-control" value="">
                                </div>
                                <label class="col-md-1 control-label">월</label>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <input type="text" name="issueday" id="issueday" class="form-control" value="">
                                </div>
                                <label class="col-md-1 control-label">일</label>
                            </div>
                            <div class="form-group">
                                <label for="license" class="col-md-3 control-label">만료일</label>
                                <div class="col-md-2" style="padding-right: 0px;">
                                   <input type="text" name="dueyear" id="dueyear" class="form-control" value="">
                                </div>
                                <label class="col-md-1 control-label">년</label>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <input type="text" name="duemonth" id="duemonth" class="form-control" value="">
                                </div>
                                <label class="col-md-1 control-label">월</label>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <input type="text" name="dueday" id="dueday" class="form-control" value="">
                                </div>
                                <label class="col-md-1 control-label">일</label>
                            </div>
                            
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" class="btn btn-info" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>                     
                </div>  
    </div>
 </body>
</html>