<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" type="text/css" href="/css/trent_common.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<style>
		body {
			background : url('https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/31E02E7E-D04B-4CDB-B3CC-86875DA7489C.png');
			background-size: 1920px;
		}
	</style>
</head>

<body>
	<% include ../common/partials/nav %>

	<section class="rent">
		<div class="icon">
			<img src="/img/test.png" alt="이미지가 없오" />
		</div>
		
		<div class="sub-title">
			<span class="sub-title-span">화물트럭 렌탈 서비스</span>
		</div>
		
		<div class="call">
			<span class="call-span"></span>
		</div>
		
		<div class="service_btn">
			<a href="/question">
				<span class="inquire">문의하기</span>
			</a>
			<a href="/rent">
				<span class="rental">렌탈하기</span>
			</a>
		</div>
	</section>
	
	<% include ../common/partials/footer %>
</body>
</html>