<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="/css/trent_common.css">
 </head>
 <body style="background : url('https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/52DE81D7-2DBF-477A-B669-6F249F425CF7.png');
 background-size: 1920px; height: 1413px;">
  <% include ../common/partials/nav %>
  <% include ../common/partials/footer %>
 </body>
</html>