<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" type="text/css" href="/css/trent_common.css">
  <link rel="stylesheet" type="text/css" href="/css/question.css">
  <style>
    body {
			/*background : url('https://cdn.zeplin.io/5c022850b6aa8378fa9f6b2a/screens/52DE81D7-2DBF-477A-B669-6F249F425CF7.png');
			background-size: 1920px;*/
    }
  </style>

  <script src="/lib/mail/mail.js"></script>
 </head>
 <body>
  
  <% include ../common/partials/nav %>
  
  <section class = "inquiry-container">
    <div class="inquiry-section">
			<span class="inquiry-title">문의하기</span>
			<span class="inquriy-sub">궁금한 사항을 문의해주세요 친절히 답변해드립니다.</span>
    </div>

    <form id="gform" class="inquiry-form" method="post" action="https://script.google.com/macros/s/AKfycbxHwBGVFBtRcySFnh9MD_D6Y38ykoldNUUCOkf-/exec" data-email="stompesi@gmail.com">
			<input type="text" class="contact" name="contact" placeholder="연락처" required>
			<textarea  class="inquiry-content" name="content" placeholder="문의 내용을 입력해주세요" required></textarea>

			<input type="submit" id="inquiry-btn" name="inquiry-btn" class = "inquiry-btn" value="문의하기">
    </form>
	</section>
	
  <% include ../common/partials/footer %>
</body>
</html>