<!DOCTYPE html>
<html>
 <head>
	<% include ../common/partials/head %>
	<style>
		html, body {
			height: 100%;
		}
		body { text-align: center; }
	</style>
 </head>
 <body>
	<img src="/img/main.png" alt="" style="width: 100%;">
 </body>
</html>