<!DOCTYPE html>
<html>
 <head>
 	<meta name="google-site-verification" content="-BwbeiIntlvZNW1pUEieWYoEfrCYBEfoV_WichwbOkI" />
	<style>
		html, body {
			height: 100%;
		}
		body { text-align: center; }
	</style>
 </head>
 <body>
	<img src="/img/main.png" alt="" style="width: 100%;">
 </body>
</html>